@model TournamentGenerator.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Round)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Round.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerOne.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerTwo.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerOneScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerOneScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerTwoScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerTwoScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalTable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicalTable.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
