
@model IEnumerable<TournamentGenerator.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Round)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerOneScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerTwoScore)
            </th>
            <th>
                Table
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Round.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerOne.FirstName)
                    @Html.DisplayFor(modelItem => item.PlayerOne.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerTwo.FirstName)
                    @Html.DisplayFor(modelItem => item.PlayerTwo.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerOneScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerTwoScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhysicalTable.Number)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
